---
swagger: "2.0"
info:
  description: "Welcome to Memsource's API documentation. To view our legacy APIs\
    \ please [visit our documentation](https://wiki.memsource.com/wiki/Memsource_API)\
    \ and for more information about our new APIs, [visit our blog](https://www.memsource.com/blog/2017/10/24/introducing-rest-apis-qa-with-the-memsource-api-team/).\
    \ \n\n If you have any questions, please contact [Memsource Support](https://get-help.memsource.com)."
  version: "All"
  title: "Memsource REST API"
host: "cloud.memsource.com"
basePath: "/web"
tags:
- name: "Analysis"
- name: "Analytics"
- name: "Async Request"
- name: "Authentication"
- name: "Bilingual File"
- name: "Business Unit"
- name: "Client"
- name: "Connector"
- name: "Conversations"
- name: "Domain"
- name: "Email Template"
- name: "File"
- name: "Import settings"
- name: "Job"
- name: "Machine Translation"
- name: "Machine Translation Settings"
- name: "Mapping"
- name: "Net Rate Scheme"
- name: "Price List"
- name: "Project"
- name: "Project Reference File"
- name: "Project Template"
- name: "Provider"
- name: "Quality Assurance"
- name: "Quote"
- name: "SCIM"
- name: "Segment"
- name: "Segmentation Rules"
- name: "Spell Check"
- name: "SubDomain"
- name: "Supported Languages"
- name: "Term Base"
- name: "Translation"
- name: "Translation Memory"
- name: "User"
- name: "Vendor"
- name: "Webhook"
- name: "Workflow Step"
- name: "Workflow changes"
paths:
  /api2/v1/analyses:
    post:
      tags:
      - "Analysis"
      summary: "Create analysis"
      description: ""
      operationId: "createAnalyseAsync"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/CreateAnalyseAsyncDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AsyncAnalyseResponseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
      deprecated: true
  /api2/v1/analyses/bulk:
    put:
      tags:
      - "Analysis"
      summary: "Edit analyses (batch)"
      description: ""
      operationId: "batchEditAnalyses"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/BulkEditAnalyseDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AnalyseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
      deprecated: true
    delete:
      tags:
      - "Analysis"
      summary: "Delete analyses (batch)"
      description: ""
      operationId: "bulkDeleteAnalyses"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/BulkDeleteAnalyseDto"
        x-exportParamName: "Body"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/analyses/{analyseId}/analyseLanguageParts/{analyseLanguagePartId}:
    get:
      tags:
      - "Analysis"
      summary: "Get analysis language part"
      description: "Returns analysis language pair"
      operationId: "getAnalyseLanguagePart"
      produces:
      - "application/json"
      parameters:
      - name: "analyseId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AnalyseId"
      - name: "analyseLanguagePartId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AnalyseLanguagePartId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AnalyseLanguagePartDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/analyses/{analyseId}/analyseLanguageParts/{analyseLanguagePartId}/jobs:
    get:
      tags:
      - "Analysis"
      summary: "List jobs of analyses"
      description: "Returns list of job's analyses"
      operationId: "listJobParts"
      produces:
      - "application/json"
      parameters:
      - name: "analyseId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AnalyseId"
      - name: "analyseLanguagePartId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AnalyseLanguagePartId"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoAnalyseJobDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/analyses/{analyseId}/jobs/{jobUid}:
    get:
      tags:
      - "Analysis"
      summary: "Get jobs analysis"
      description: "Returns job's analyse"
      operationId: "getJobPartAnalyse"
      produces:
      - "application/json"
      parameters:
      - name: "analyseId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AnalyseId"
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AnalyseJobDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/analyses/{analyseId}/download:
    get:
      tags:
      - "Analysis"
      summary: "Download analysis"
      description: ""
      operationId: "downloadAnalyse"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "analyseId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AnalyseId"
      - name: "format"
        in: "query"
        required: true
        type: "string"
        enum:
        - "CSV"
        - "CSV_EXTENDED"
        - "LOG"
        x-exportParamName: "Format"
      responses:
        "200":
          description: "application/octet-stream"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/analyses/{analyseId}:
    get:
      tags:
      - "Analysis"
      summary: "Get analysis"
      description: ""
      operationId: "getAnalyse"
      produces:
      - "application/json"
      parameters:
      - name: "analyseId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AnalyseId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AnalyseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
      deprecated: true
    delete:
      tags:
      - "Analysis"
      summary: "Delete analysis"
      description: ""
      operationId: "delete"
      parameters:
      - name: "analyseId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AnalyseId"
      - name: "purge"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "Purge"
        x-optionalDataType: "Bool"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/analyses/byProviders:
    post:
      tags:
      - "Analysis"
      summary: "Create analyses by providers"
      description: ""
      operationId: "createAnalysesForProviders"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/CreateAnalyseListAsyncDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AsyncAnalyseListResponseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/analyses/byLanguages:
    post:
      tags:
      - "Analysis"
      summary: "Create analyses by languages"
      description: ""
      operationId: "createAnalysesForLangs"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/CreateAnalyseListAsyncDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AsyncAnalyseListResponseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/analytics/{type}:
    post:
      tags:
      - "Analytics"
      summary: "Run analytics aggregation"
      description: "For more information check <a target=\"_blank\" href=\"https://wiki.memsource.com/wiki/Analytics_Aggregations\"\
        >Memsource Wiki</a>"
      operationId: "aggregate"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "path"
        description: "This value is case sensitive"
        required: true
        type: "string"
        enum:
        - "analysis"
        - "api"
        - "costs"
        - "jobPart"
        - "lqa"
        x-exportParamName: "Type_"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AnalyticsDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AnalyticsResponseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/async:
    get:
      tags:
      - "Async Request"
      summary: "List pending requests"
      description: ""
      operationId: "listPendingRequests"
      produces:
      - "application/json"
      parameters:
      - name: "all"
        in: "query"
        description: "Pending requests for organization instead of current user. Only\
          \ for ADMIN."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "All"
        x-optionalDataType: "Bool"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoAsyncRequestDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/async/{asyncRequestId}:
    get:
      tags:
      - "Async Request"
      summary: "Get asynchronous request"
      description: ""
      operationId: "getAsyncRequest"
      produces:
      - "application/json"
      parameters:
      - name: "asyncRequestId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AsyncRequestId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AsyncRequestDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/auth/login:
    post:
      tags:
      - "Authentication"
      summary: "Login"
      description: ""
      operationId: "login"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginResponseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/auth/logout:
    post:
      tags:
      - "Authentication"
      summary: "Logout"
      description: ""
      operationId: "logout"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/auth/loginOther:
    post:
      tags:
      - "Authentication"
      summary: "Login as another user"
      description: "Available only for admin"
      operationId: "loginOther"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginOtherDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginResponseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/auth/loginToSession:
    post:
      tags:
      - "Authentication"
      summary: "Login to session"
      description: ""
      operationId: "loginToSession"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginToSessionDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginToSessionResponseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/auth/whoAmI:
    get:
      tags:
      - "Authentication"
      summary: "Who am I"
      description: ""
      operationId: "whoAmI"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginUserDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/auth/loginWithGoogle:
    post:
      tags:
      - "Authentication"
      summary: "Login with Google"
      description: ""
      operationId: "loginByGoogle"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginWithGoogleDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginResponseDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/bilingualFiles/convert:
    post:
      tags:
      - "Bilingual File"
      summary: "Convert bilingual file"
      description: ""
      operationId: "convertBilingualFile"
      consumes:
      - "application/octet-stream"
      produces:
      - "application/octet-stream"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/InputStream"
        x-exportParamName: "Body"
      - name: "from"
        in: "query"
        required: true
        type: "string"
        enum:
        - "MXLF"
        - "DOCX"
        x-exportParamName: "From"
      - name: "to"
        in: "query"
        required: true
        type: "string"
        enum:
        - "MXLF"
        - "DOCX"
        x-exportParamName: "To"
      responses:
        "200":
          description: "application/octet-stream"
          headers:
            Content-Disposition:
              type: "string"
              description: "Contains filename (UTF-8 encoded). \n\n `filename*=UTF-8''ExampleFileName.md`"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/bilingualFiles:
    put:
      tags:
      - "Bilingual File"
      - "Job"
      summary: "Upload bilingual file"
      description: "Returns updated job parts"
      operationId: "uploadBilingualFile"
      consumes:
      - "application/octet-stream"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/InputStream"
        x-exportParamName: "Body"
      - name: "format"
        in: "query"
        required: false
        type: "string"
        default: "MXLF"
        enum:
        - "MXLF"
        - "DOCX"
        - "XLIFF"
        x-exportParamName: "Format"
        x-optionalDataType: "String"
      - name: "saveToTransMemory"
        in: "query"
        required: false
        type: "string"
        default: "Confirmed"
        enum:
        - "All"
        - "Confirmed"
        - "None"
        x-exportParamName: "SaveToTransMemory"
        x-optionalDataType: "String"
      - name: "setCompleted"
        in: "query"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "SetCompleted"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/JobPartsDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/bilingualFiles/compare:
    post:
      tags:
      - "Bilingual File"
      summary: "Compare bilingual file"
      description: "Compares bilingual file to job state. Returns list of compared\
        \ segments."
      operationId: "compareBilingualFile"
      consumes:
      - "application/octet-stream"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/InputStream"
        x-exportParamName: "Body"
      - name: "workflowLevel"
        in: "query"
        required: false
        type: "integer"
        default: 1
        maximum: 15
        minimum: 1
        format: "int32"
        x-exportParamName: "WorkflowLevel"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ComparedSegmentsDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/bilingualFiles/preview:
    post:
      tags:
      - "Bilingual File"
      summary: "Download preview"
      description: "Supports mxliff format"
      operationId: "getPreviewFile"
      consumes:
      - "application/octet-stream"
      produces:
      - "application/octet-stream"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/InputStream"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "application/octet-stream"
          headers:
            Content-Disposition:
              type: "string"
              description: "Contains filename (UTF-8 encoded). \n\n `filename*=UTF-8''ExampleFileName.md`"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/businessUnits/{businessUnitId}:
    get:
      tags:
      - "Business Unit"
      summary: "Get business unit"
      description: ""
      operationId: "getBusinessUnit"
      produces:
      - "application/json"
      parameters:
      - name: "businessUnitId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "BusinessUnitId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/BusinessUnitDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    put:
      tags:
      - "Business Unit"
      summary: "Edit business unit"
      description: ""
      operationId: "updateBusinessUnit"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "businessUnitId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "BusinessUnitId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/BusinessUnitEditDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/BusinessUnitDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    delete:
      tags:
      - "Business Unit"
      summary: "Delete business unit"
      description: ""
      operationId: "deleteBusinessUnit"
      parameters:
      - name: "businessUnitId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "BusinessUnitId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/businessUnits:
    get:
      tags:
      - "Business Unit"
      summary: "List business units"
      description: ""
      operationId: "listBusinessUnits"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "Unique name of the business unit"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoBusinessUnitDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    post:
      tags:
      - "Business Unit"
      summary: "Create business unit"
      description: ""
      operationId: "createBusinessUnit"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/BusinessUnitEditDto"
        x-exportParamName: "Body"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/BusinessUnitDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/clients/{clientId}:
    get:
      tags:
      - "Client"
      summary: "Get client"
      description: ""
      operationId: "getClient"
      produces:
      - "application/json"
      parameters:
      - name: "clientId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ClientId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ClientDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    put:
      tags:
      - "Client"
      summary: "Edit client"
      description: ""
      operationId: "updateClient"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "clientId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ClientId"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/ClientEditDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ClientDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    delete:
      tags:
      - "Client"
      summary: "Delete client"
      description: ""
      operationId: "deleteClient"
      parameters:
      - name: "clientId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ClientId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/clients:
    get:
      tags:
      - "Client"
      summary: "List clients"
      description: ""
      operationId: "listClients"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "Unique name of the Client"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoClientDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    post:
      tags:
      - "Client"
      summary: "Create client"
      description: ""
      operationId: "createClient"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/ClientEditDto"
        x-exportParamName: "Body"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/ClientDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/connectors/{connectorId}:
    get:
      tags:
      - "Connector"
      summary: "Get a connector"
      description: ""
      operationId: "getConnector"
      produces:
      - "application/json"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConnectorId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ConnectorDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/connectors:
    get:
      tags:
      - "Connector"
      summary: "List connectors"
      description: ""
      operationId: "getConnectorList"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ConnectorListDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/connectors/{connectorId}/folders:
    get:
      tags:
      - "Connector"
      summary: "List files in root"
      description: "List files in a root folder of the selected connector"
      operationId: "getRootFolder"
      produces:
      - "application/json"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConnectorId"
      - name: "fileType"
        in: "query"
        required: false
        type: "string"
        default: "ALL"
        pattern: "ALL|FILES_ONLY|FOLDERS_ONLY"
        x-exportParamName: "FileType"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        required: false
        type: "string"
        default: "NAME"
        pattern: "NAME|SIZE|LAST_MODIFIED"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        required: false
        type: "string"
        default: "ASCENDING"
        pattern: "ASCENDING|DESCENDING"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/FileListDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/connectors/{connectorId}/folders/{folder}:
    get:
      tags:
      - "Connector"
      summary: "List files in a subfolder"
      description: "List files in a subfolder of the selected connector"
      operationId: "getFolder"
      produces:
      - "application/json"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConnectorId"
      - name: "folder"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Folder"
      - name: "fileType"
        in: "query"
        required: false
        type: "string"
        default: "ALL"
        pattern: "ALL|FILES_ONLY|FOLDERS_ONLY"
        x-exportParamName: "FileType"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        required: false
        type: "string"
        default: "NAME"
        pattern: "NAME|SIZE|LAST_MODIFIED"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        required: false
        type: "string"
        default: "ASCENDING"
        pattern: "ASCENDING|DESCENDING"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/FileListDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    post:
      tags:
      - "Connector"
      summary: "Upload a file to a subfolder of the selected connector"
      description: "Upload a file to a subfolder of the selected connector"
      operationId: "uploadFile"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConnectorId"
      - name: "folder"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Folder"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        enum:
        - "multipart/form-data"
        x-exportParamName: "ContentType"
      - name: "file"
        in: "formData"
        description: "Translated file to upload"
        required: true
        type: "file"
        x-exportParamName: "File"
      - name: "sourceFileName"
        in: "formData"
        description: "Name or ID of the original file"
        required: false
        type: "string"
        x-exportParamName: "SourceFileName"
        x-optionalDataType: "String"
      - name: "subfolderName"
        in: "formData"
        description: "Optional subfolder to upload the file to"
        required: false
        type: "string"
        x-exportParamName: "SubfolderName"
        x-optionalDataType: "String"
      - name: "mimeType"
        in: "formData"
        description: "Mime type of the file to upload"
        required: false
        type: "string"
        x-exportParamName: "MimeType"
        x-optionalDataType: "String"
      - name: "commitMessage"
        in: "formData"
        description: "Commit message for upload to Git, etc."
        required: false
        type: "string"
        x-exportParamName: "CommitMessage"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/UploadResultDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/connectors/{connectorId}/folders/{folder}/files/{file}:
    get:
      tags:
      - "Connector"
      summary: "Download file"
      description: "Download a file from a subfolder of the selected connector"
      operationId: "getFile"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConnectorId"
      - name: "folder"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Folder"
      - name: "file"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "File"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/InputStreamLength"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/jobs/conversations/find:
    post:
      tags:
      - "Conversations"
      summary: "Find all conversation"
      description: ""
      operationId: "findConversations"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/FindConversationsDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ConversationListDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/jobs/{jobUid}/conversations:
    get:
      tags:
      - "Conversations"
      summary: "List all conversations"
      description: ""
      operationId: "listAllConversations"
      produces:
      - "application/json"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - name: "includeDeleted"
        in: "query"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "IncludeDeleted"
        x-optionalDataType: "Bool"
      - name: "since"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Since"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ConversationListDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/netRateSchemes/{netRateSchemeId}:
    get:
      tags:
      - "Net Rate Scheme"
      summary: "Get net rate scheme"
      description: ""
      operationId: "getDiscountScheme"
      produces:
      - "application/json"
      parameters:
      - name: "netRateSchemeId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "NetRateSchemeId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/NetRateScheme"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/netRateSchemes:
    get:
      tags:
      - "Net Rate Scheme"
      summary: "List net rate schemes"
      description: ""
      operationId: "getDiscountSchemes"
      produces:
      - "application/json"
      parameters:
      - name: "pageNumber"
        in: "query"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoNetRateSchemeReference"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    post:
      tags:
      - "Net Rate Scheme"
      summary: "Create net rate scheme"
      description: ""
      operationId: "createDiscountScheme"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DiscountSchemeCreateDto"
        x-exportParamName: "Body"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/NetRateScheme"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/netRateSchemes/{netRateSchemeId}/workflowStepNetSchemes/{netRateSchemeWorkflowStepId}:
    get:
      tags:
      - "Net Rate Scheme"
      summary: "Get scheme for workflow step"
      description: ""
      operationId: "getDiscountSchemeWorkflowStep"
      produces:
      - "application/json"
      parameters:
      - name: "netRateSchemeId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "NetRateSchemeId"
      - name: "netRateSchemeWorkflowStepId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "NetRateSchemeWorkflowStepId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/NetRateSchemeWorkflowStep"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/netRateSchemes/{netRateSchemeId}/workflowStepNetSchemes:
    get:
      tags:
      - "Net Rate Scheme"
      summary: "List schemes for workflow step"
      description: ""
      operationId: "getDiscountSchemeWorkflowSteps"
      produces:
      - "application/json"
      parameters:
      - name: "netRateSchemeId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "NetRateSchemeId"
      - name: "pageNumber"
        in: "query"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoNetRateSchemeWorkflowStepReference"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/domains:
    get:
      tags:
      - "Domain"
      summary: "List of domains"
      description: ""
      operationId: "listDomains"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoDomainDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    post:
      tags:
      - "Domain"
      summary: "Create domain"
      description: ""
      operationId: "createDomain"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DomainEditDto"
        x-exportParamName: "Body"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/DomainDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/domains/{domainId}:
    get:
      tags:
      - "Domain"
      summary: "Get domain"
      description: ""
      operationId: "getDomain"
      produces:
      - "application/json"
      parameters:
      - name: "domainId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DomainId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/DomainDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    put:
      tags:
      - "Domain"
      summary: "Edit domain"
      description: ""
      operationId: "updateDomain"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "domainId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DomainId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DomainEditDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/DomainDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    delete:
      tags:
      - "Domain"
      summary: "Delete domain"
      description: ""
      operationId: "deleteDomain"
      parameters:
      - name: "domainId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DomainId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/emailTemplates:
    get:
      tags:
      - "Email Template"
      summary: "List email templates"
      description: ""
      operationId: "listOrgEmailTemplates"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoOrganizationEmailTemplateDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/emailTemplates/{templateId}:
    get:
      tags:
      - "Email Template"
      summary: "Get email template"
      description: ""
      operationId: "getOrgEmailTemplate"
      produces:
      - "application/json"
      parameters:
      - name: "templateId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TemplateId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/OrganizationEmailTemplateDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/files/{fileUid}:
    get:
      tags:
      - "File"
      summary: "Get file"
      description: "Get uploaded file as <b>octet-stream</b> or as <b>json</b> based\
        \ on 'Accept' header"
      operationId: "getFileJson"
      produces:
      - "application/json"
      parameters:
      - name: "fileUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "FileUid"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/UploadedFileDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    delete:
      tags:
      - "File"
      summary: "Delete file"
      description: ""
      operationId: "deletesFile"
      consumes:
      - "application/json"
      parameters:
      - name: "fileUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "FileUid"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/files:
    get:
      tags:
      - "File"
      summary: "List files"
      description: ""
      operationId: "getFiles"
      produces:
      - "application/json"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "name"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "types"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Types"
      - name: "createdBy"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "CreatedBy"
        x-optionalDataType: "Int64"
      - name: "biggerThan"
        in: "query"
        description: "Size in bytes"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "BiggerThan"
        x-optionalDataType: "Int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoUploadedFileDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    post:
      tags:
      - "File"
      summary: "Upload file"
      description: "Accepts multipart/form-data, application/octet-stream or application/json."
      operationId: "createUrlFile"
      consumes:
      - "application/json"
      - "application/octet-stream"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "file"
        required: true
        schema:
          $ref: "#/definitions/RemoteUploadedFileDto"
        x-exportParamName: "Body"
      - name: "Content-Disposition"
        in: "header"
        description: "must match pattern `((inline|attachment); )?filename\\*=UTF-8''(.+)`"
        required: true
        type: "string"
        x-exportParamName: "ContentDisposition"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/UploadedFileDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/projects/{projectUid}/jobs/{jobUid}/transMemories/wildCardSearch:
    post:
      tags:
      - "Job"
      - "Translation Memory"
      summary: "Wildcard search job's translation memories"
      description: ""
      operationId: "wildCardSearchByJob"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "projectUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ProjectUid"
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/WildCardSearchByJobRequestDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/SearchResponseListTmDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
      deprecated: true
  /api2/v1/projects/{projectUid}/jobs/{jobUid}/transMemories/search:
    post:
      tags:
      - "Translation Memory"
      - "Job"
      summary: "Search job's translation memories"
      description: "<b>This API is incorrectly implemented, use\n            endpoint\
        \ <a href=\"#operation/searchSegmentByJob\">Search translation memory for\
        \ segment by job</a>.</b> </br>\n            Returns at most <i>maxSegments</i>\
        \ records with <i>score >= scoreThreshold</i> and at most\n            <i>maxSubsegments</i>\
        \ records which are subsegment, i.e. the source text is substring of the query\
        \ text."
      operationId: "searchByJob"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "projectUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ProjectUid"
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/SearchTMByJobRequestDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/SearchResponseListTmDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
      deprecated: true
  /api2/v1/projects/{projectUid}/jobs/{jobUid}/transMemories/searchSegment:
    post:
      tags:
      - "Translation Memory"
      - "Job"
      summary: "Search translation memory for segment by job"
      description: "Returns at most <i>maxSegments</i>\n            records with <i>score\
        \ >= scoreThreshold</i> and at most <i>maxSubsegments</i> records which are\
        \ subsegment,\n            i.e. the source text is substring of the query\
        \ text."
      operationId: "searchSegmentByJob"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "projectUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ProjectUid"
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/SearchTMByJobRequestDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/SearchResponseListTmDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/jobs/{jobUid}/conversations/lqas/{conversationId}:
    get:
      tags:
      - "Conversations"
      summary: "Get LQA conversation"
      description: ""
      operationId: "getLQAConversation"
      produces:
      - "application/json"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - name: "conversationId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConversationId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LQAConversationDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    put:
      tags:
      - "Conversations"
      summary: "Edit LQA conversation"
      description: ""
      operationId: "updateLQAConversation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - name: "conversationId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConversationId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/EditLQAConversationDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LQAConversationDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    delete:
      tags:
      - "Conversations"
      summary: "Delete conversation"
      description: ""
      operationId: "deleteLQAConversation"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - name: "conversationId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConversationId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/jobs/{jobUid}/conversations/lqas:
    get:
      tags:
      - "Conversations"
      summary: "List LQA conversations"
      description: ""
      operationId: "listLQAConversations"
      produces:
      - "application/json"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - name: "includeDeleted"
        in: "query"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "IncludeDeleted"
        x-optionalDataType: "Bool"
      - name: "since"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Since"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LQAConversationsListDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    post:
      tags:
      - "Conversations"
      summary: "Create LQA conversation"
      description: ""
      operationId: "createLQAConversation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/CreateLQAConversationDto"
        x-exportParamName: "Body"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/LQAConversationDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/jobs/{jobUid}/conversations/lqas/{conversationId}/comments:
    post:
      tags:
      - "Conversations"
      summary: "Add LQA comment"
      description: ""
      operationId: "addLQAComment"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - name: "conversationId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConversationId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AddCommentDto"
        x-exportParamName: "Body"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/LQAConversationDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/jobs/{jobUid}/conversations/lqas/{conversationId}/comments/{commentId}:
    put:
      tags:
      - "Conversations"
      summary: "Edit LQA comment"
      description: ""
      operationId: "updateLQAComment"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - name: "conversationId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConversationId"
      - name: "commentId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CommentId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AddCommentDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LQAConversationDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    delete:
      tags:
      - "Conversations"
      summary: "Delete LQA comment"
      description: ""
      operationId: "deleteLQAComment"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobUid"
      - name: "conversationId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConversationId"
      - name: "commentId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CommentId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/languages:
    get:
      tags:
      - "Supported Languages"
      summary: "List supported languages"
      description: ""
      operationId: "listOfLanguages"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/LanguageListDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/machineTranslateSettings:
    get:
      tags:
      - "Machine Translation Settings"
      summary: "List machine translate settings"
      description: ""
      operationId: "getList"
      produces:
      - "application/json"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoMachineTranslateSettingsPbmDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/machineTranslateSettings/{mtsUid}/status:
    get:
      tags:
      - "Machine Translation Settings"
      summary: "Get status of machine translate engine"
      description: ""
      operationId: "getStatus"
      produces:
      - "application/json"
      parameters:
      - name: "mtsUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "MtsUid"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/MachineTranslateStatusDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/machineTranslateSettings/{mtsUid}:
    get:
      tags:
      - "Machine Translation Settings"
      summary: "Get machine translate settings"
      description: ""
      operationId: "getMTSettings"
      produces:
      - "application/json"
      parameters:
      - name: "mtsUid"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "MtsUid"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/MachineTranslateSettingsPbmDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/machineTranslations/{mtSettingsId}/translate:
    post:
      tags:
      - "Machine Translation"
      summary: "Translate with MT"
      description: ""
      operationId: "machineTranslation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "mtSettingsId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "MtSettingsId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/TranslationRequestExtendedDto"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/MachineTranslateResponse"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/mappings/tasks/{id}:
    get:
      tags:
      - "Mapping"
      summary: "Returns mapping for taskId (mxliff)"
      description: ""
      operationId: "getMappingForTask"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "workflowLevel"
        in: "query"
        required: false
        type: "integer"
        default: 1
        maximum: 15
        minimum: 1
        format: "int32"
        x-exportParamName: "WorkflowLevel"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/TaskMappingDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
  /api2/v1/importSettings:
    get:
      tags:
      - "Import settings"
      summary: "List import settings"
      description: ""
      operationId: "listImportSettings"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoImportSettingsReference"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Resource not found"
        "405":
          description: "Method not allowed"
        "408":
          description: "Timeout"
        "410":
          description: "Gone"
        "415":
          description: "Unsupported media type"
        "500":
          description: "Internal server error"
    post:
      tags:
      - "Import settings"
      summary: "Create import settings"
      description: "Pre-defined import settings is handy for [Create Job](#operation/createJob).\n\
        \                  See [supported file types](https://wiki.memsource.com/wiki/API_File_Type_List)"
      operationId: "createImportSettings"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ImportSettingsCreateDto"
        x-exportParamName: "Body"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/ImportSettingsDto"
        "400":
          description: "Bad request"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
[...]
